﻿@model IEnumerable<B3WebBanHang.Models.Product>
<div class="bg-white" style="padding: 0;">
<h2>Products</h2>


<div class="mb-3">
    <a class="btn btn-success" asp-action="Add">Add </a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>img</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Category?.Name </td>
                <td><img src="@product.ImageUrl" width="200" width="200" /></td>
                <td>
                    <a class="btn btn-primary" asp-action="Display" asp-route-id="@product.Id">View</a> |
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@product.Id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




