﻿@model IEnumerable<B3WebBanHang.Models.Category>

<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>

                <td>
                    <a class="btn btn-warning" asp-action="Display" asp-route-id="@category.Id">View</a> |
                    <a class="btn btn-success" asp-action="Update" asp-route-id="@category.Id">Edit</a> |
                    <a class="btn btn-success" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>